<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;700&display=swap");

        * {
            font-family: "Source Code Pro", monospace;
        }

        .header {
            font-weight: bold;
        }

        .item,
        .header {
            font-size: 0.83em;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header menu'
                'header menu '
                'header menu ';
        }
    </style>
</head>

<body>
    <hr>
    <h3>
        Dear {{participant.firstName}} {{participant.lastName}},
    </h3>

    <p>
        Thank you for contacting me!
        <br>
        This is to let you know I have received your email and I will be contacting you in a couple of days.
        <br>
        Stay tuned!
        <br>
        <br>
        Regards,
        <br>
        Tamim hamoudi
    </p>
    <hr>
</body>

</html>